# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# [*.md]
# trim_trailing_whitespace = false

[*.rs]
charset = utf-8

[*.{yaml,yml}]
indent_style = space
indent_size = 2


[*.{yaml,yml}.example]
indent_style = space
indent_size = 2


[kubeconfig]
indent_style = space
indent_size = 2

